In [1]:
import pandas as pd

# Answer1

In [5]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [9]:
df['duration']

0    2
1    3
2    6
3    4
Name: duration, dtype: int64

# Answer2

In [ ]:
loc (Label-based Indexing):
loc is primarily label-based indexing, which means it uses the labels (row and column names) to select data.
When you use loc, you specify the row labels and column labels explicitly.
The syntax is df.loc[row_label, column_label] or df.loc[row_label].

iloc (Integer-based Indexing):
iloc is primarily integer-based indexing, which means it uses integer positions to select data.
When you use iloc, you specify the row and column positions by integers.
The syntax is df.iloc[row_position, column_position] or df.iloc[row_position].

# Answer3

In [15]:
new_df=df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
The output for new_df.loc[2] will be the third row of the new_df DataFrame, 
which corresponds to the row with index 1 from the original DataFrame df. 
Similarly, the output for new_df.iloc[2] will also be the third row of 
the new_df DataFrame, which corresponds to the row with index 1 in the 
new order specified by reindex_order.

# Answer4

In [18]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.709253  0.730767  0.681726  0.342818  0.031873  0.511653
2  0.437080  0.094385  0.957487  0.031380  0.516571  0.538923
3  0.952266  0.911347  0.230549  0.964874  0.050186  0.395270
4  0.471506  0.296099  0.510124  0.694306  0.282427  0.128401
5  0.143325  0.861957  0.101476  0.159428  0.893368  0.883692
6  0.815555  0.793304  0.188255  0.145655  0.329510  0.770085

In [19]:
df1["column_1"].mean()

0.588164282323436

In [20]:
df1["column_2"].mean()

0.6146431616788357

In [21]:
df1["column_3"].mean()

0.44493608505931315

In [22]:
df1["column_4"].mean()

0.38974351209058006

In [23]:
df1["column_5"].mean()

0.3506559710319317

In [24]:
df1["column_6"].mean()

0.5380039713900433

In [26]:
df1["column_2"].std()

0.3366723672412675

# Answer5

In [66]:
df1.loc[2, 'column_2'] = 'Sharique'  
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.709253  0.730767  0.681726  0.342818  0.031873  0.511653
2  0.437080  Sharique  0.957487  0.031380  0.516571  0.538923
3  0.952266  0.911347  0.230549  0.964874  0.050186  0.395270
4  0.471506  0.296099  0.510124  0.694306  0.282427  0.128401
5  0.143325  0.861957  0.101476  0.159428  0.893368  0.883692
6  0.815555  0.793304  0.188255  0.145655  0.329510  0.770085

In [67]:
mean_column_2 = df1['column_2'].mean()
mean_column_2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Reason:unsupported operand type(s) for +: 'float' and 'str'

# Answer6

In [ ]:
Window functions, also known as rolling or moving functions, are a category of functions used for performing calculations on a rolling or moving window of data points within a time series or ordered dataset. These functions are particularly useful for time series analysis, data smoothing, and creating various rolling statistics.
1.Mean (Average) Function
2.Sum Function
3.Min Function
4.Max Function
5.Standard deviation
6.Variance Function
7.Count function

# Answer7

In [44]:
import datetime
current_datetime = datetime.datetime.now()

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year

In [45]:
current_month

9

In [46]:
current_year

2023

# Answer8

In [72]:
# Convert the input strings to Pandas datetime objects
start_date = pd.to_datetime(2023-9-25)
end_date = pd.to_datetime(2023-9-29)

# Calculate the time difference
time_difference = end_date - start_date

# Extract days, hours, and minutes from the time difference
days = time_difference.days
seconds = time_difference.seconds
hours, seconds = divmod(seconds, 3600)
minutes, seconds = divmod(seconds, 60)

In [74]:
minutes

59

# Answer9

In [ ]:
df=pd.read_csv("Enter URL link")

In [ ]:
# Convert the specified column to a categorical data type with custom category order
df[column_name] = pd.Categorical(df[column_name], categories=categories, ordered=True)

# Sort the DataFrame based on the specified column
 df = df.sort_values(by=column_name)

# Answer10

In [ ]:
df=pd.read_csv("Enter URL link")

In [ ]:
grouped_data = df.groupby(['Category', 'Date'])['Sales']

 # Create a stacked bar chart
stacked_bar_chart = grouped_data.plot(kind='bar')

# Answer11

In [48]:
df=pd.read_csv("Enter URL link")

In [ ]:
mean_value=df["Test Score"].mean()

In [ ]:
median_value=df["Test Score"].median()

In [ ]:
mode_value=df["Test Score"].mode()

In [50]:
data={"Statistic":["Mean","Median","Mode"],
      "Value":["79.6","82","85,90"]
    }
res=pd.DataFrame(data)
res

  Statistic  Value
0      Mean   79.6
1    Median     82
2      Mode  85,90